*{
	margin:0;
	padding:0;
}

body{
	font-family:'Tahoma', sans-serif;
	color:#666;
	font-size:16px;
	background:#f9f9f9;
	line-height:1.6em;
}

ul,li{
	list-style:none;
}

#container{
	width:60%;
	margin:30px auto;
	overfloaw:auto;
}

h1{
	text-align:center;
	margin-bottom:20px;
	text-transform: capitalize;
}

.title{
	height:40px;
	background:#6bb170;
	color:#fff;
	text-align:center;
	padding-top:13px;
}

.faq li{
	padding:20px;
}

.faq li.q{
	background:#7229bc;
	font-weight:bold;
	padding-bottom: 2em;
	padding-top: 2em;
	border-bottom:1px #ddd solid;
	cursor:pointer;
	color: #fff;
}

.faq li.q span{
	font-size:180%;
}

.faq li.q img{
	float: right;
}



.faq li.a{
	
	
	display:none;
	border-bottom: 1px #ddd solid;
	border-right: 1px #ddd solid;
	border-left: 1px #ddd solid;
}

.faq li.selected {
    background: #ae00b4;
}


.rotate{
	
	-moz-transform:rotate(180deg)
	-webkit-transform:rotate(180deg);
	transform:rotate(180deg);
}

@media(max-width:800px){
	#container{
		width:90%;
	}
}